rocketchat_url: https://rocketchat.example.com
rocketchat_username: username
rocketchat_password: password
twitter_consumer_key: ABCDEFGHJKLMNOPQRSTUVXYZ
twitter_consumer_secret: ABCDEFGHJKLMNOPQRSTUVXYZ
twitter_access_token: ABCDEFGHJKLMNOPQRSTUVXYZ
twitter_access_token_secret: ABCDEFGHJKLMNOPQRSTUVXYZ
google_client_id: some_id
google_client_secret: ABCDEFGHJKLMNOPQRSTUVXYZ
octoprint_api_key: ABCDEFGHJKLMNOPQRSTUVXYZ
