ha_latitude: 0.00000
ha_longitude: 0.00000
ha_elevation: 0
ha_unit_system: imperial
ha_time_zone: America/Los_Angeles
http_password: password
http_server_port: 8123
http_base_url: hass.example.com
rocketchat_url: https://rocketchat.example.com
rocketchat_username: username
rocketchat_password: password
twitter_consumer_key: ABCDEFGHJKLMNOPQRSTUVXYZ
twitter_consumer_secret: ABCDEFGHJKLMNOPQRSTUVXYZ
twitter_access_token: ABCDEFGHJKLMNOPQRSTUVXYZ
twitter_access_token_secret: ABCDEFGHJKLMNOPQRSTUVXYZ
tradfri_host: 127.0.0.1
google_client_id: some_id
google_client_secret: ABCDEFGHJKLMNOPQRSTUVXYZ
travis_api_key: 123456789

